.training-panel {
  background-color: #f0f0f0 !important;
  border-radius: 10px !important;
  border: none !important;
  padding: 20px !important;
  color: #000 !important;

  .p-panel-header {
    background-color: #f0f0f0 !important;
    color: #000 !important;
  }
}
