<app-breadcumb [items]="items()" />
<p-panel styleClass="service-panel" header="Dịch vụ">
  <div class="grid grid-cols-2 gap-4">
    <div class="flex flex-col gap-2 text-center">
      <h3 class="font-bold">Gói Start-up</h3>
      <p>Tư vấn setup quán</p>
      <p>Training nhân viên</p>
    </div>
    <div class="flex flex-col gap-2 text-center">
      <h3 class="font-bold">Gói Premium</h3>
      <p>Tư vấn thiết kế</p>
      <p>Tư vấn setup quán</p>
      <p>Training nhân viên</p>
    </div>
  </div>
</p-panel>
