<app-breadcumb [items]="items" />
<p-panel styleClass="contact-panel" header="Liên hệ">
  <div class="grid grid-cols-2 gap-4">
    <div class="flex flex-col gap-2 text-center">
      <h3 class="font-bold">Văn phòng:</h3>
      <p>43/30 Nguyễn Đình Tư - P.Hoa An - Q. Cẩm Lệ - TP Đà Nẵng</p>
      <h3 class="text-primary font-bold">Kho hàng:</h3>
      <p>EO4 Bắc Sơn - P.Hoa An - Q. Cẩm Lệ - TP Đà Nẵng</p>
    </div>
    <div class="flex flex-col gap-2 text-center">
      <h3 class="font-bold">Dịch vụ:</h3>
      <p>✔️ Tư vấn thiết kế - thi công</p>
      <p>✔️ Đào tạo pha chế tổng hợp</p>
      <a href="tel:0932565956" class="phone-link text-2xl font-bold">
        📞 0932 56 59 56
      </a>
    </div>
  </div>
</p-panel>
