<p-accordion [value]="['0']" [multiple]="true">
  <p-accordion-panel value="0">
    <p-accordion-header>Qolo Business Portal</p-accordion-header>
    <p-accordion-content>
      <p class="m-0 text-base">
        Là hệ thống B2B, third party hỗ trợ khách hàng (thương nhân) tra cứu
        thông tin chi tiết về chủ thẻ, xem thông tin giao dịch và thực hiện các
        hành động như cập nhật trạng thái thẻ, điều chỉnh số dư và tải xuống báo
        cáo. Chỉ có Qolo admin, managers và Qolo's client's admin, managers sử
        dụng.
      </p>
    </p-accordion-content>
  </p-accordion-panel>

  <p-accordion-panel value="1">
    <p-accordion-header styleClass="text-primary">
      Qolo Customers
    </p-accordion-header>
    <p-accordion-content>
      <p class="m-0 text-base">
        Là hệ thống B2C hỗ trợ khách hàng của Qolo’s Client (ngân hàng) xem
        thông tin ví và giao dịch.
      </p>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>
