.menu-container {
  background: linear-gradient(to right, #ff7f00, #4caf50) !important;
}

.body-container {
  min-height: calc(100vh - 30vh);
  color: #000;
}

.footer-container {
  background: #4caf50;
}
