<p-card header="APIs">
  <div class="flex flex-col gap-2 m-0 text-base">
    <span class="font-bold">1. Get Company</span>
    <span class="font-bold">2. Create Person + Card</span>
    <span class="font-bold">3. Create AccountInstrument</span>
    <span class="font-bold">4. Get Wallets by Person</span>
    <span class="font-bold">5. Get Account by person_guid</span>
    <span class="font-bold">6. Create user</span>
    <span class="font-bold">7. Create Transfer</span>
    <span class="font-bold">8. Retrieve Txn</span>
  </div>
</p-card>
