<div class="flex justify-center">
  <img
    src="assets/images/qolo-structure.png"
    alt="Qolo Platform"
    class="w-12rem h-12rem"
  />
</div>
<p-accordion [value]="['0']" [multiple]="true">
  <p-accordion-panel value="0">
    <p-accordion-header>Person</p-accordion-header>
    <p-accordion-content>
      <p class="m-0 text-base">
        Một cá nhân trên Nền tảng Qolo có thể là một cá nhân (một người) hoặc
        một công ty. Nền tảng Qolo thiết lập tất cả người dùng cuối, chủ thẻ,
        khách hàng, đối tác chương trình và bất kỳ nhà cung cấp dịch vụ bên thứ
        ba nào là 'Cá nhân' trên nền tảng.
      </p>
    </p-accordion-content>
  </p-accordion-panel>

  <p-accordion-panel value="1">
    <p-accordion-header>Outside Instrument</p-accordion-header>
    <p-accordion-content>
      <p class="m-0 text-base">
        Công cụ bên ngoài được sử dụng để quản lý tài khoản ngân hàng bên ngoài
        Qolo platform. Những Người đã đăng ký trên nền tảng Qolo có thể chuyển
        tiền theo bất kỳ hướng nào giữa tài khoản Qolo của họ và tài khoản không
        thuộc Qolo.
      </p>
    </p-accordion-content>
  </p-accordion-panel>

  <p-accordion-panel value="2">
    <p-accordion-header>Wallet</p-accordion-header>
    <p-accordion-content>
      <p class="m-0 text-base">
        Một ví chỉ định cho một người. Một người có thể có một hoặc nhiều ví
        trên Qolo platform và 1 ví thì chứa nhiều tài khoản/thẻ.
      </p>
    </p-accordion-content>
  </p-accordion-panel>

  <p-accordion-panel value="3">
    <p-accordion-header>Qolo Account</p-accordion-header>
    <p-accordion-content>
      <p class="m-0 text-base">
        Một tài khoản là tài khoản tiền tệ được phát hành và duy trì tại Qolo.
        Các tài khoản được nằm trong ví của một người.
      </p>
    </p-accordion-content>
  </p-accordion-panel>

  <p-accordion-panel value="4">
    <p-accordion-header>Qolo Issued DDA</p-accordion-header>
    <p-accordion-content>
      <p class="m-0 text-base">
        Một Tài khoản Qolo có thể có một hoặc nhiều DDA được liên kết với nó.
        Người dùng có thể thêm tiền vào Tài khoản Qolo của họ bằng cách gửi tiền
        đến các DDA được liên kết này.
      </p>
    </p-accordion-content>
  </p-accordion-panel>

  <p-accordion-panel value="5">
    <p-accordion-header>Qolo card</p-accordion-header>
    <p-accordion-content>
      <p class="m-0 text-base">
        Thẻ là thiết bị thanh toán cho phép người dùng thực hiện giao dịch. Thẻ
        Qolo được gán vào ví của một người và truy cập từ Tài khoản Qolo trong
        cùng một ví.
      </p>
    </p-accordion-content>
  </p-accordion-panel>
</p-accordion>
